.form__element {
    padding: 10px;
}

.form__select {
    font-family: 'Dela Gothic One', cursive;
    width: 100px;
    text-align: center;
    border: #000 solid 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFF;
    color: #305278;
    font-size: 16px;
    margin-left: 10px;
}

.form__select:active {
    background-color: #305278;
    color: #FFF;
}

.form__select:focus {
    background-color: #305278;
    color: #FFF;
}

.form__field {
    font-family: 'Dela Gothic One', cursive;
    width: 250px;
    text-align: center;
    border: #000 solid 2px;
    border-radius: 10px;
    padding: 10px;
    background-color: #FFF;
    color: #305278;
}

.form__field:active {
    background-color: #6d93be;
}

.form__field:focus {
    background-color: #6d93be;
    color: #FFF;
}

.form__field:disabled {
    background-color: #50647a;
    color: #DDD;
}