.clock {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content : center;
    align-items: flex-end;
    align-content: flex-start;
    text-align: center;
    color: #305278;
}