.clock__item {
    margin: 0 10px;
    padding: 3px 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content : center;
    align-items: flex-end;
    align-content: flex-start;
    background: rgb(230, 239, 248);
    border: rgb(157, 183, 207) 2px solid;
    border-radius: 15px;
}

.clock__block {
    font-family: Roboto;
    padding: 0 2px;
    margin: 0;
    flex-basis: auto;
}

.clock__number {
    width: 100%;
    font-size: 17px;
}

.clock__progress {
    width: 100%;
    height: 10px;
    padding: 0px;
    margin: 0;
}

.clock__progressBar {
    padding: 0;
    width: 99%;
    margin: 0;
    border: 0;
    
}

.clock__progressBar[value]::-webkit-progress-value {
    background-color: teal;    
    border-radius: 10px;
    height: 3px;   
    background-image: linear-gradient(-45deg, #558ec3,#0064df, #032752);
}

.clock__progressBar[value]::-webkit-progress-bar {
    background-color: transparent;
}
