html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

*, ::after, ::before {
    box-sizing: inherit;
    -webkit-font-smoothing: inherit;
}

body {
    font-family: 'Dela Gothic One', cursive;
    background-color: #305278;
    margin: 0px;
    background-image: url('./img/doodle.jpg');
    background-size: 750px;
    background-attachment: fixed;
    background-position: top;
}

a {
    text-decoration: none;
}