.code {
    color: #fff;
    background-color: #305278;
}

.code--large {
    padding: 7px;
    font-size: 14px;
    border-radius: 15px;
}

.code--small {
    font-size: 12px;
    padding: 5px;
    border-radius: 10px;
}

.code__value {
    font-size: 20px;
}

.code__value--small {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}